<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kn.fui.tinkerlib">

    <application>

        <service
            android:name=".service.SampleResultService"
            android:exported="false"/>

        <service
            android:name=".service.DownloadService"
            android:exported="false"/>

    </application>
</manifest>
